<% provide(:title, "About") %>
<h1 class="page-header">About</h1>
<b>Team: </b>
<p>
Name: Sourav Debnath<br>
Hostel: Alakanada<br>
Roll No. : ME14B064<br>
Email: debnath.sourabh@gmail.com<br>
Mobile: 9176714464<br>
</p>
<hr>
<p>
Name: Srikanth G<br>
Hostel: Alakanada<br>
Roll No. : ME14B066<br>
Email: g.srikanth396@gmail.com<br>
Mobile: 9003641854<br>
</p>