<% provide(:title, "Events") %>
<h1 class="page-header">Events</h1>
<table class="table table-compressed table-hover">
    <tr>
    <th>Event</th>
    <th>Position</th>
    </tr>

    <tr>
    <td>litsoc</td>
    <td>first</td>
    
    <tr/>

    <tr>
    <td>schoter</td>
    <td>first</td>
    
    <tr/>

    <tr>
    <td>inter hostel foot ball</td>
    <td>first</td>
    
    <tr/>

    <tr>
    <td>fire and ice</td>
    <td>first</td>
    
    <tr/>

    <tr>
    <td>choreo</td>
    <td>second</td>
    
    <tr/>

    <tr>
    <td>tech-soc</td>
    <td>third</td>
    
    <tr/>
</table>