<% provide(:title, "Hostellers") %>
<h1 class="page-header">Hostellers</h1>
<table class="table table-compressed table-hover">
    <tr>
    <th>Names</th>
    <th>Roll no</td>
    <th>Room no</th>
    </tr>
    <tr>
    <td>sourya</td>
    <td>me14b065</td>
    <td>1010</td>
    <tr/>

    <tr>
    <td>srikanth</td>
    <td>me14b066</td>
    <td>1011</td>
    <tr/>

    <tr>
    <td>somu</td>
    <td>me14b067</td>
    <td>1011</td>
    <tr/>

    <tr>
    <td>maggu</td>
    <td>me14b060</td>
    <td>1015</td>
    <tr/>

    <tr>
    <td>maggi</td>
    <td>me14b061</td>
    <td>1015</td>
    <tr/>

    <tr>
    <td>jockey</td>
    <td>me14b062</td>
    <td>1014</td>
    <tr/>
    

    <tr>
    <td>popcorn</td>
    <td>me14b063</td>
    <td>1014</td>
    <tr/>

    <tr>
    <td>sourav</td>
    <td>me14b064</td>
    <td>1012</td>
    <tr/>

    <tr>
    <td>satya</td>
    <td>me14b068</td>
    <td>1012</td>
    <tr/>

    <tr>
    <td>srinath</td>
    <td>me14b069</td>
    <td>1010</td>
    <tr/>

    <td>chandu</td>
    <td>me14b069</td>
    <td>1011</td>
    <tr/>
</table>
