<% provide(:title, "Secretaries") %>
<h1 class="page-header">Secretaries</h1>
<table class="table table-compressed table-hover">
<tr>
    <th>Names</th>
    <th>position</th>
    <th>phone no</th>
    <th>manifestoes</th>
</tr>
    <tr>
    <td>sourya</td>
    <td>general</td>
    <td>9003641854</td>
    <td><%= link_to 'Manifesto','manifesto.pdf' %></td>
    </tr>

    <tr>
    <td>srikanth</td>
    <td>cutural</td>
    <td>9502155939</td>
    <td></td>
    </tr>

    <tr>
    <td>somu</td>
    <td>garden</td>
    <td>7584692300</td>
    <td></td>
    </tr>

    <tr>
    <td>sourav</td>
    <td>sports</td>
    <td>8569325849</td>
    <td></td>
    </tr>

    <tr>
    <td>srinath</td>
    <td>health</td>
    <td>9569325849</td>
    <td></td>
    
    </tr>
</table>